.Buttons_11 {
	font-family: Segoe UI;
	font-size: 10px;
}

.Default {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fnd_rVar_Large {
	font-family: Segoe UI;
	font-size: 12px;
}

.Fnd_rVar_Small {
	font-family: Segoe UI;
	font-size: 10px;
}

