.Buttons_11 {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Fnd_rVar_Large {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Fnd_rVar_Small {
	font-family: Lucida Grande;
	font-size: 11px;
}

